TELEGRAM_TOKEN=8844418145:AAEDtm21q2T759zRGQ1Hm5qWcph0rajriQ0
MONGODB_URI=mongodb+srv://daniyar:<db_password>@cluster0.8jz0wlv.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=AIzaSyC5dlNRSAOlyoXruPN1teprW8n6FaTBZrI
ALLOWED_TELEGRAM_ID=7711813441
